@import "tailwindcss";

/* @media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
ol,
ul {
  list-style: none;
} */

/* Додайте в src/index.css після @import "tailwindcss"; */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

#root {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .title-shimmer {
    text-transform: none;

    background: linear-gradient(
      150deg,
      #fefbf3 15%,
      #7c4936 28%,
      #fefbf3 48%,
      #fefbf3 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    /* Прозорий колір тексту */
    -webkit-text-fill-color: transparent;
    color: transparent;

    background-size: 250% 100%;

    animation: gradient 5s linear infinite;
  }

  /* НОВА Marquee анімація */
  .animate-marquee {
    animation: marqueeScroll 10s linear infinite;
    will-change: transform;
  }
  .animate-marquee2 {
    animation: marqueeScroll 60s linear infinite;
    will-change: transform;
  }

  @keyframes marqueeScroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  */
  /* .animate-marquee:hover {
    animation-play-state: paused;
  } */

  /*  анімація для меню */
  .animate-slide-in {
    animation: slideIn 0.3s ease-out;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
